@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 500px;
    margin-top: 100px;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: gray;
    color: white;
    font-weight: bolder;
}

.fundo_branco {
    background-color: white;
    color: black;
}

.fundo_cinza {
    background-color: gray;
    color: white;
    font-weight: bolder;
}