@charset "UTF-8";

body {
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 98vh;
    background-size: cover;
}

main {
    background-color: #ffffff;
    padding: 10px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid darkblue;
    text-align: justify;
}