@charset "UTF-8";

body {
    height: 98vh;
    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: #ffffff;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid darkblue;
    text-align: justify;
}

h1 {
    text-align: center;
}