@charset "UTF-8";

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 500px;
    position: relative;
}

thead tr th {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.714);
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

th {
    background-color: gray;
    color: white;
    padding: 5px;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: gray;
}

.num {
    text-align: right;
}

.total {
    text-align: right;
}