@charset "UTF-8";

/* Configurações de modo retrato (portrait) */

body {
    background: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}