@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {background-image: linear-gradient(to right, #FF8E00, #FF8E00, #ED1500);}
main { 
    background-color: white; 
    width: 600px; padding: 10px; 
    margin: auto; 
    border-radius: 10px; 
    box-shadow: 5px 5px 15px #971a0fa0; }
p {text-align: justify;}
h1 {color: #FF8E00; text-align: center; text-shadow: 1px 1px 0px #9b5601d4;}
h2 {color: #006A68;}